:root {
    --primary-color: #ffffff;
    --secondary-color: #242526;
    --tertiary-color: #2c7feb;

    --util-color: #a8abaf;
    --background-color: #18191a;

    --black-color: #000;
    --white-color: #fff;
}

// Generate Color Palate -> http://colormind.io/
